/*------start varibles breaking points---------*/
/*------End varibles breaking points---------*/
/*------start varibles of Colors-------------*/
/*------End varibles of Colors-------------*/
/*------start varibles of Fonts-------------*/
/*------End varibles of Fonts-------------*/
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
.section1 .explorer div button {
  padding: 15px;
  color: #fff;
  font-size: 1em;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(to bottom, #FF79DA, #9356DC);
  border: 0;
  border-radius: 30px;
  -webkit-box-shadow: 5px 5px 10px #ccc;
          box-shadow: 5px 5px 10px #ccc;
  cursor: pointer;
}

.function {
  width: 100%;
  background-color: #F7F7F7;
  margin: 20px auto;
  padding: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 30px;
  -webkit-box-shadow: 5px 5px 10px #ececec;
          box-shadow: 5px 5px 10px #ececec;
  position: relative;
  cursor: pointer;
}

.function img {
  height: 20px;
  width: 20px;
  margin: 0px 20px;
}

.function a {
  color: #000;
  text-decoration: none;
  margin: 0px 20px;
  font-family: 'Roboto', sans-serif;
  font-size: 1.2em;
  font-weight: bold;
}

.function::before {
  content: "";
  height: 20px;
  width: 20px;
  position: absolute;
  top: 26px;
  left: -6px;
  text-align: center;
  border-radius: 50%;
  background-color: #9356DC;
  color: #fff;
}

/*------start mixin breaking points---------*/
/*------End   mixin breaking points---------*/
/*------start  mixin Prefixes---------------*/
/*------End  mixin Prefixes-----------------*/
/*------start mixin of Fonts-------------*/
/*------End mixin of Fonts-------------*/
/*font-family: 'Shrikhand', cursive;*/
/*font-family: 'Roboto', sans-serif;*/
main {
  width: 95%;
  margin: auto;
}

main header {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (max-width: 767px) {
  main header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100px;
  }
}

main header img {
  height: 30px;
  width: 150px;
  margin-top: 15px;
}

main header .location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #EDEDED;
  height: 30px;
  width: 175px;
  margin-top: 10px;
  padding: 6px 10px 15px 10px;
  border: 1px solid gray;
  cursor: pointer;
  font-family: Roboto;
  font-size: 17px;
  font-weight: bold;
}

@media (max-width: 767px) {
  main header .location {
    width: 100%;
    height: 50px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 15px;
    padding-right: 35px;
    border: 0;
  }
  main header .location::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 5px;
    background: -webkit-gradient(linear, left top, left bottom, from(#D4D4D4), to(#EDEDED));
    background: linear-gradient(to bottom, #D4D4D4, #EDEDED);
    top: 50px;
    left: 0;
  }
}

main header .location img {
  height: 15px;
  width: 15px;
  margin: 0;
}

@media (max-width: 767px) {
  main header .location img {
    margin-right: 10px;
    height: 17px;
  }
}

@media (max-width: 767px) {
  main {
    width: 100%;
  }
}

/*font-family: 'Shrikhand', cursive;*/
/*font-family: 'Roboto', sans-serif;*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*:active {
  -webkit-tap-highlight-color: transparent;
}

.section1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

@media (max-width: 767px) {
  .section1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.section1 .explorer {
  height: 300px;
  background-color: #F7F7F7;
  text-align: center;
}

.section1 .explorer div {
  width: 80%;
  margin: auto;
}

.section1 .explorer div h1 {
  margin-top: 40px;
}

.section1 .explorer div p {
  margin-top: 20px;
  margin-bottom: 30px;
  font-family: Roboto;
  font-size: 1.2em;
  font-weight: 100;
}

.section1 .fonctionement {
  width: 90%;
  margin: auto;
  margin-top: 50px;
}
/*# sourceMappingURL=index.css.map */