/*------start varibles breaking points---------*/
/*------End varibles breaking points---------*/
/*------start varibles of Colors-------------*/
/*------End varibles of Colors-------------*/
/*------start varibles of Fonts-------------*/
/*------End varibles of Fonts-------------*/
/*------start mixin breaking points---------*/
/*------End   mixin breaking points---------*/
/*------start  mixin Prefixes---------------*/
/*------End  mixin Prefixes-----------------*/
/*------start mixin of Fonts-------------*/
/*------End mixin of Fonts-------------*/
/*------Start mixin of cart---------*/
/*------end mixin of cart-----------*/
/*------start mixin for background--------*/
/*--------End mixin for background-----*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
.loader {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  -webkit-animation: fadeOut 3s;
          animation: fadeOut 3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.loader .loader-conatainer {
  height: 200px;
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
}

@media (max-width: 767px) {
  .loader .loader-conatainer {
    width: 50%;
  }
}

.loader .loader-conatainer .circle {
  display: inline-block;
  position: relative;
  height: 300px;
  width: 35%;
  top: 25%;
  left: 15%;
  -webkit-animation: loading 2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
          animation: loading 2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
}

@media (max-width: 767px) {
  .loader .loader-conatainer .circle {
    height: 50%;
    width: 50%;
    top: 18%;
    left: 5%;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .loader .loader-conatainer .circle {
    top: 14%;
    left: 5%;
    height: 40%;
    width: 40%;
  }
}

.loader .loader-conatainer .circle div {
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  border: 6px solid #F3E900;
  border-radius: 50%;
  border-color: transparent transparent #F3E900 transparent;
}

.loader .loader-conatainer .circle div:nth-child(1) {
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
}

.loader .loader-conatainer .circle div:nth-child(2) {
  -webkit-animation-delay: -0.45s;
          animation-delay: -0.45s;
}

.loader .loader-conatainer .circle div:nth-child(3) {
  -webkit-animation-delay: -0.30s;
          animation-delay: -0.30s;
}

.loader .loader-conatainer img {
  -webkit-animation: pan 2s infinite;
          animation: pan 2s infinite;
}

.loader .loader-conatainer .line {
  width: 75px;
  height: 20px;
  border-radius: 30px;
  background-color: #F6F3F4;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-left: 45px;
  -webkit-animation: LineAnimation 2s infinite;
          animation: LineAnimation 2s infinite;
}

@media (max-width: 767px) {
  .loader .loader-conatainer .line {
    width: 40%;
    height: 10px;
    margin-left: 25px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .loader .loader-conatainer .line {
    margin-left: 10px;
    width: 35%;
    height: 10px;
  }
}

@-webkit-keyframes fadeOut {
  100% {
    visibility: hidden;
  }
}

@keyframes fadeOut {
  100% {
    visibility: hidden;
  }
}

@-webkit-keyframes LineAnimation {
  50% {
    -webkit-transform: scaleX(0.7);
            transform: scaleX(0.7);
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@keyframes LineAnimation {
  50% {
    -webkit-transform: scaleX(0.7);
            transform: scaleX(0.7);
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@-webkit-keyframes pan {
  50% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes pan {
  50% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@-webkit-keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.section1 .explorer div button {
  padding: 15px 30px;
  color: #fff;
  font-family: Roboto;
  font-size: 1.2em;
  font-weight: 400;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(to bottom, #FF79DA, #9356DC);
  border: 0;
  border-radius: 30px;
  -webkit-box-shadow: 5px 5px 10px #ccc;
          box-shadow: 5px 5px 10px #ccc;
  cursor: pointer;
  outline: none;
}

.function {
  width: 100%;
  background-color: #F7F7F7;
  margin: 20px auto;
  padding: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 20px;
  -webkit-box-shadow: 5px 5px 10px #ececec;
          box-shadow: 5px 5px 10px #ececec;
  position: relative;
  cursor: pointer;
  -webkit-animation: fadeIn 1s 3s;
          animation: fadeIn 1s 3s;
}

.function svg {
  height: 20px;
  width: 20px;
  margin: 0px 20px;
}

.function a {
  color: #000;
  text-decoration: none;
  margin: 0px 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 1.2em;
  font-weight: bold;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .function a {
    font-size: 0.8em;
  }
}

.function .number {
  height: 20px;
  width: 20px;
  position: absolute;
  top: 26px;
  left: -10px;
  text-align: center;
  border-radius: 50%;
  background-color: #9356DC;
  color: #fff;
}

.function:hover {
  background-color: rgba(147, 86, 220, 0.1);
}

.function:hover svg path {
  fill: #9356DC;
}

/*font-family: 'Shrikhand', cursive;*/
/*font-family: 'Roboto', sans-serif;*/
main {
  width: 95%;
  margin: auto;
}

main header {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767px) {
  main header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100px;
  }
}

main header .logo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 15px;
  width: 55%;
}

@media (max-width: 767px) {
  main header .logo-container {
    width: 60%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin: 10px 0 0 0;
  }
}

main header .logo-container .back {
  display: block;
  height: 20px;
  width: 20px;
  background: url("/GhaithDiab_3_26042021/images/icon/arrow-left-solid.svg") no-repeat center/cover;
  margin-top: 5px;
  margin-right: 15px;
}

main header .logo-container .logo {
  text-decoration: none;
  color: #000;
  margin-left: 50px;
  font-family: Shrikhand;
  font-size: 1.5em;
  font-weight: 900;
}

main header .location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #EDEDED;
  height: 30px;
  width: 175px;
  margin-top: 10px;
  padding: 4px 10px 15px 10px;
  border: 1px solid gray;
  cursor: pointer;
  font-family: Roboto;
  font-size: 17px;
  font-weight: 500;
}

@media (max-width: 767px) {
  main header .location {
    width: 100%;
    height: 50px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 7px;
    padding-right: 35px;
    border: 0;
  }
  main header .location::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 5px;
    background: -webkit-gradient(linear, left top, left bottom, from(#D4D4D4), to(#EDEDED));
    background: linear-gradient(to bottom, #D4D4D4, #EDEDED);
    top: 55px;
    left: 0;
  }
}

main header .location img {
  height: 15px;
  width: 15px;
  margin: 0;
  padding-top: 4px;
}

@media (max-width: 767px) {
  main header .location img {
    margin-right: 10px;
    height: 17px;
  }
}

@media (max-width: 767px) {
  main {
    width: 100%;
  }
}

/*font-family: 'Shrikhand', cursive;*/
/*font-family: 'Roboto', sans-serif;*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*:active {
  -webkit-tap-highlight-color: transparent;
}

html {
  scroll-behavior: smooth;
}

.section1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

@media (max-width: 767px) {
  .section1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.section1 .explorer {
  height: 300px;
  width: 65%;
  background-color: #F7F7F7;
  text-align: center;
  margin-top: 70px;
}

@media (max-width: 767px) {
  .section1 .explorer {
    width: 100%;
    margin-top: 0;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .section1 .explorer {
    width: 55%;
  }
}

.section1 .explorer div {
  width: 80%;
  margin: auto;
}

.section1 .explorer div h1 {
  margin-top: 40px;
  -webkit-animation: fadeIn 1s 3s;
          animation: fadeIn 1s 3s;
  font-family: Roboto;
  font-size: 2em;
  font-weight: 600;
}

.section1 .explorer div p {
  margin-top: 20px;
  margin-bottom: 30px;
  -webkit-animation: fadeIn 1s 3s;
          animation: fadeIn 1s 3s;
  font-family: Roboto;
  font-size: 1.2em;
  font-weight: 300;
}

.section1 .explorer div button {
  -webkit-animation: fadeIn 1s 3s;
          animation: fadeIn 1s 3s;
}

.section1 .fonctionement {
  width: 30%;
  margin-top: 50px;
}

@media (max-width: 767px) {
  .section1 .fonctionement {
    width: 90%;
    margin: auto;
    margin-top: 50px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .section1 .fonctionement {
    width: 40%;
  }
}

.section1 .fonctionement h1 {
  font-family: Roboto;
  font-size: 2em;
  font-weight: 600;
}

section {
  width: 100%;
  background-color: #F6F6F6;
  padding: 20px;
}

@media (max-width: 767px) {
  section {
    width: 100%;
    margin-top: 50px;
  }
}

section h2 {
  padding-top: 40px;
  margin-left: 15px;
  font-family: Roboto;
  font-size: 2em;
  font-weight: 500;
}

@media (min-width: 768px) and (max-width: 1024px) {
  section h2 {
    margin-left: 35px;
  }
}

@media (max-width: 767px) {
  section h2 {
    margin-left: 0px;
  }
}

section .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 20px;
  margin-bottom: 40px;
}

@media (max-width: 767px) {
  section .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

section .container .link {
  display: block;
  width: 22%;
  margin: auto;
  text-decoration: none;
  color: #000;
  -webkit-animation: fadeIn 1.5s 3s;
          animation: fadeIn 1.5s 3s;
}

@media (max-width: 767px) {
  section .container .link {
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  section .container .link {
    width: 40%;
  }
}

section .container .link .cart {
  width: 100%;
  height: 300px;
  border-radius: 15px;
  background-color: #fff;
  margin: auto;
  position: relative;
  margin-top: 30px;
  -webkit-box-shadow: 5px 7px 10px #ececec;
          box-shadow: 5px 7px 10px #ececec;
}

@media (max-width: 767px) {
  section .container .link .cart {
    width: 100%;
    margin-bottom: 30px;
    margin-top: 0;
  }
}

section .container .link .cart .backImg {
  display: block;
  width: 100%;
  height: 200px;
  background: url("/GhaithDiab_3_26042021/images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg") no-repeat center/cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

section .container .link .cart .backimg1 {
  display: block;
  width: 100%;
  height: 200px;
  background: url("/GhaithDiab_3_26042021/images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg") no-repeat center/cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

section .container .link .cart .backimg2 {
  display: block;
  width: 100%;
  height: 200px;
  background: url("/GhaithDiab_3_26042021/images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg") no-repeat center/cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

section .container .link .cart .backimg3 {
  display: block;
  width: 100%;
  height: 200px;
  background: url("/GhaithDiab_3_26042021/images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg") no-repeat center/cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

section .container .link .cart .nouveau {
  display: block;
  width: 82px;
  border-radius: 3px;
  position: absolute;
  top: 15px;
  right: 20px;
  background-color: #99E2D0;
  color: #41AD93;
  text-align: center;
  height: 30px;
  padding: 5px;
  font-family: Roboto;
  font-size: 1em;
  font-weight: 500;
}

section .container .link .cart .heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section .container .link .cart h3 {
  margin: 25px 10px 3px 10px;
  font-family: Roboto;
  font-size: 1.2em;
  font-weight: 600;
}

section .container .link .cart p {
  font-family: Roboto;
  font-size: 1.2em;
  font-weight: 400;
  margin-left: 10px;
}

section .container .link .cart .heart {
  margin-top: 30px;
  margin-right: 20px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  background: url("/GhaithDiab_3_26042021/images/icon/heart.svg") no-repeat center/cover;
}

section .container .link .cart .heart:hover {
  background: url("/GhaithDiab_3_26042021/images/icon/heart-solid.svg") no-repeat center/cover;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

.dlay-1 {
  -webkit-animation-delay: .2s;
          animation-delay: .2s;
}

.dlay-2 {
  -webkit-animation-delay: .5s;
          animation-delay: .5s;
}

.dlay-3 {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.dlay-4 {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

footer {
  background-color: #353535;
  padding: 25px;
}

footer h1 {
  color: #fff;
  font-family: Shrikhand;
  font-size: 1.2em;
  font-weight: 400;
  margin-bottom: 20px;
}

footer ul {
  list-style: none;
}

footer ul li {
  font-family: Roboto;
  font-size: 1em;
  font-weight: 400;
}

footer ul li a {
  display: block;
  color: #fff;
  margin: 10px;
  text-decoration: none;
}

footer ul li img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
/*# sourceMappingURL=index.css.map */