/*------start varibles breaking points---------*/
/*------End varibles breaking points---------*/
/*------start varibles of Colors-------------*/
/*------End varibles of Colors-------------*/
/*------start varibles of Fonts-------------*/
/*------End varibles of Fonts-------------*/
/*------start mixin breaking points---------*/
/*------End   mixin breaking points---------*/
/*------start  mixin Prefixes---------------*/
/*------End  mixin Prefixes-----------------*/
/*------start mixin of Fonts-------------*/
/*------End mixin of Fonts-------------*/
/*------Start mixin of overlay---------*/
/*------end mixin of overlay-----------*/
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
/*font-family: 'Shrikhand', cursive;*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
/*font-family: 'Roboto', sans-serif;*/
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
main {
  width: 95%;
  margin: auto;
}

main header {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (max-width: 767px) {
  main header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100px;
  }
}

main header img {
  height: 30px;
  width: 150px;
  margin-top: 15px;
}

main header .location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #EDEDED;
  height: 30px;
  width: 175px;
  margin-top: 10px;
  padding: 6px 10px 15px 10px;
  border: 1px solid gray;
  cursor: pointer;
  font-family: Roboto;
  font-size: 17px;
  font-weight: bold;
}

@media (max-width: 767px) {
  main header .location {
    width: 100%;
    height: 50px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 15px;
    padding-right: 35px;
    border: 0;
  }
  main header .location::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 5px;
    background: -webkit-gradient(linear, left top, left bottom, from(#D4D4D4), to(#EDEDED));
    background: linear-gradient(to bottom, #D4D4D4, #EDEDED);
    top: 50px;
    left: 0;
  }
}

main header .location img {
  height: 15px;
  width: 15px;
  margin: 0;
}

@media (max-width: 767px) {
  main header .location img {
    margin-right: 10px;
    height: 17px;
  }
}

@media (max-width: 767px) {
  main {
    width: 100%;
  }
}

/*font-family: 'Shrikhand', cursive;*/
/*font-family: 'Roboto', sans-serif;*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box !important;
          box-sizing: border-box !important;
}
/*# sourceMappingURL=LaNoteEnchantée.css.map */