%btn{
  padding: 15px 30px;
    color: #fff;
    @include Fonts(Roboto,$fontSize,400);
    background: linear-gradient(to bottom, #FF79DA, #9356DC);
    border: 0;
    border-radius: 30px;
    box-shadow: 5px 5px 10px #ccc;
    cursor: pointer;
    outline: none;
}