
.function{
  width: 100%;
  background-color: #F7F7F7;
  margin: 20px auto;
  padding: 25px;
  display: flex;
  border-radius: 30px;
  box-shadow: 5px 5px 10px #ececec;
  position: relative;
  cursor: pointer;
  img{
    height: 20px;
    width: 20px;
    margin: 0px 20px;
  }
  a{
    color: #000;
    text-decoration: none;
    margin: 0px 20px;
    font-family: 'Roboto', sans-serif;
    font-size: $fontSize;
    font-weight: bold;
  }
  .number{
    height: 20px;
    width: 20px;
    position: absolute;
    top: 26px;
    left: -10px;
    text-align: center;
    border-radius: 50%;
    background-color: $primaire;
    color: #fff;
  }
  &:hover{
    background-color: rgba($primaire,0.1);
  }
}
