@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap'); /*font-family: 'Shrikhand', cursive;*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap'); /*font-family: 'Roboto', sans-serif;*/
main{
  width: 95%;
  margin: auto;
  @include bigScreen{
    width: 1400px;
  }
  header {
    height:50px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include mobile{
      flex-direction: column;
      height: 100px;
    }
    .logo-container{
    display: flex;
    justify-content: space-between;
    margin: 15px;
    width: 55%;
    @include mobile{
      width: 60%;
      justify-content: flex-start;
      margin:10px 0 0 0;
    }
    .back{
      display: block;
      height: 20px;
      width: 20px;
      background: url('/GhaithDiab_3_26042021/images/icon/arrow-left-solid.svg') no-repeat center /cover;
      margin-top: 5px;
      margin-right: 15px;
    }
    .logo{
      text-decoration: none;
      color: #000;
      margin-left:50px;
      @include Fonts(Shrikhand,1.5em,900);
    }

  }
  .location{
    display: flex;
    justify-content: space-around;
    background-color: #EDEDED;
    height: 30px;
    width: 175px;
    margin-top: 10px;
    padding: 4px 10px 15px 10px;
    border: 1px solid gray;
    cursor: pointer;
    @include Fonts(Roboto,17px,500);
    @include mobile{
      width: 100%;
      height: 50px;
      justify-content: center;
      padding-top: 7px;
      padding-right: 35px;
      border: 0;
      &::before{
        content: '';
        position: absolute;
        width: 100%;
        height: 5px;
        background: linear-gradient(to bottom,#D4D4D4,#EDEDED);
        top:55px;
        left: 0;
      }
    }
  & img{
    height: 15px;
    width: 15px;
    margin: 0;
    padding-top: 4px;
    @include mobile{
      margin-right: 10px;
      height: 17px;
    }
  }
  }
  }
  @include mobile{
    width: 100%;
  }
}

