/*------start varibles breaking points---------*/
$mobile: 767px;
$tablets:768px;
$computers:1024px;
$extraLarge:1400px;
/*------End varibles breaking points---------*/

/*------start varibles of Colors-------------*/
$primaire:#9356DC;
$secondaire:#FF79DA;
$tertiaire:#99E2D0;
/*------End varibles of Colors-------------*/

/*------start varibles of Fonts-------------*/
$fontSize: 1.2em;
/*------End varibles of Fonts-------------*/