/*------start varibles breaking points---------*/
$mobile: 767px;
$tablets:768px;
$computers:1024px;
/*------End varibles breaking points---------*/

/*------start varibles of Colors-------------*/
$Primaire:#9356DC;
$Secondaire:#FF79DA;
$Tertiaire:#99E2D0;
/*------End varibles of Colors-------------*/

/*------start varibles of Fonts-------------*/
$FontSize: 1.2em;
/*------End varibles of Fonts-------------*/